<form method="POST">
    <input id="username" name="username" type="text">
    <input id="password" name="password" type="password">
    <button id="register-btn" type="submit">Register</button>
</form>